.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    i {
        color: #FFF;
    }

    span {
        color: #FFF;
        display: flex;
    }
}

.sidenav i {
    padding-right: 7px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}